name: python-cicd

on:
  push:
    branches:
      - main

jobs:
  build_test:
    runs-on: ubuntu-latest

    steps:
      
      - name: copy the code
        uses: actions/checkout@v4

      - name: pyhton env  
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: cache
        uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            pip-

      - name: dependices
        run: pip install -r requirements.txt

      - name: application
        run: python app.py

      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: output-file
          path: output.txt
          retention-days: 30

  deploy:
    runs-on: ubuntu-latest
    needs: build_test
    steps:
      
      - name: download
        uses: actions/download-artifact@v4
        with:
          name: output-file
          path: ./downloaded/

      - name: output
        run: |
         ls
         cat ./downloaded/output.txt